<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">
    <ul class="sidebar-menu">
      <li class="header" translate>sidebar.masterdata</li>
      <li class="active">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span translate>sidebar.contact</span></i>
        </a>
      </li>
      <li>
        <a href="./views/customer.html" target="_blank">
          <i class="fa fa-files-o"></i>
          <span translate>sidebar.customer</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span translate>sidebar.product</span>
        </a>
      </li>
      <li class="header" translate>sidebar.presales</li>
      <li>
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span translate>sidebar.compaign</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span translate>sidebar.competitor</span>
        </a>
      </li>
      <li class="header" translate>sidebar.sales</li>
      <li>
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span translate>sidebar.salesleads</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span translate>sidebar.salesopportunity</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span translate>sidebar.salesquotation</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span translate>sidebar.salesorder</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span translate>sidebar.contracttemplate</span>
        </a>
      </li>
      <li class="header" translate>sidebar.activitytask</li>
      <li>
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span translate>sidebar.activity</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span translate>sidebar.task</span>
        </a>
      </li>
    </ul>
  </section>
</aside>