<!DOCTYPE html>
<html ng-app="huoyun">

  <head>
    <meta charset="utf-8" />
    <title translate>title.customer</title>

    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../libs/AdminLTE/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="../libs/AdminLTE/css/skins/_all-skins.min.css" />
    <link rel="stylesheet" href="../libs/font-awesome/font-awesome.min.css" />
    <script type="text/javascript" src="../libs/jQuery/jQuery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../libs/angular/angular.min.js"></script>
    <script type="text/javascript" src="../libs/angular/angular-translate.min.js"></script>
    <script type="text/javascript" src="../libs/angular/angular-translate-loader-url.min.js"></script>
    <script type="text/javascript" src="../libs/angular/angular-translate-loader-static-files.min.js"></script>
    <script type="text/javascript" src="../assets/app.js"></script>
    <script type="text/javascript" src="../libs/AdminLTE/js/app.js"></script>
    <script type="text/javascript" src="../assets/js/framework/common.js"></script>
  </head>

  <body class="skin-blue">
    <div class="wrapper">
      <div headerbar></div>
      <div sidebar></div>
      <div class="content-wrapper"></div>
      <div footerbar></div>
    </div>

  </body>

</html>