<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<meta charset="UTF-8" />
<title>重置密码</title>
<link rel="stylesheet" th:href="@{/css/common.css}"></link>
<link rel="stylesheet" th:href="@{/css/accounts/forgetpassword.css}"></link>
</head>
<body class="forgetpassword-step">
  <header></header>
  <!-- 通过邮箱来找回密码 -->
  <section class="find-by-email">
    <form action="" method="POST">
      <ul class="form-head clearfix">
        <li class="active"><span class="step">1</span> 输入邮箱地址</li>
        <li class="active"><span class="step">2</span> 验证邮箱</li>
        <li class="active"><span class="step">3</span> 重置密码</li>
      </ul>
      <div class="step1">
        <div class="input-container">
          <input name="password" type="text" placeholder="请输入新密码" />
        </div>
        <div class="input-container">
          <input name="repeatPassword" type="text" placeholder="请再次输入新密码" />
        </div>
        <div class="forget-btn btn btn-green btn-lg">确定</div>
      </div>
    </form>
  </section>
</body>
</html>