.forgetpassword-step header {
  position: relative;
  width: 100%;
  height: 323px;
  background-color: #00b38a;
}

.forgetpassword-step section {
  width: 450px;
  margin: -168px auto 0 auto;
  padding: 80px 57px 50px;
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .09);
  box-shadow: 0 0 5px rgba(0, 0, 0, .09);
  position: relative;
  z-index: 1;
}

.forgetpassword-step section:before {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  right: -2px;
  display: block;
  width: 0;
  border-width: 8px;
  border-style: solid;
  border-color: #f1f1f1 #fff #fff #f1f1f1;
  -webkit-border-radius: 3px 0 0;
  -moz-border-radius: 3px 0 0;
  border-radius: 3px 0 0;
}

.forgetpassword-step .input-container {
  margin-top: 20px;
}

.change-way {
  position: absolute;
  right: 25px;
  top: 27px;
  z-index: 3;
  margin: 0;
}

.change-way a {
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  color: #00b38a;
  padding-right: 23px;
}

.form-head {
  height: 50px;
  margin-bottom: 47px;
}

.form-head li {
  width: 33.33%;
  position: relative;
  z-index: 1;
  text-align: center;
  color: #b5b5b5;
  float: left;
  font-size: 14px;
}

.find-by-phone .form-head li {
  width: 50%;
}

.step {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 7px;
  line-height: 30px;
  border-radius: 15px;
  background: #cfcfcf;
}

.form-head li.active {
  color: #00b38a;
}

.form-head li.active .step {
  color: white;
  background: #00b38a;
}

.forget-btn {
  margin-top: 20px;
}

.forgetpassword-step1 .smscode {
  width: 60%;
}

.forgetpassword-step1 .send-sms-btn {
  width: 40%;
  font-size: 14px;
}

.reset_mail {
  text-align: center;
  margin: 0;
}

.reset_mail .des_mail {
  display: block;
  color: #00b38a;
}

.reset_tips {
  margin-top: 10px;
  font-size: 14px;
  color: #999;
  text-align: center;
}